body{
  background-color: #424242;
  color: #fff;
  font-family: 'Arvo', serif;
}
header{
  background: #302f2f;
  background: -moz-linear-gradient(top, #302f2f 0%, #171717 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #302f2f 0%,#171717 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #302f2f 0%,#171717 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302f2f', endColorstr='#171717',GradientType=0 ); /* IE6-9 */
  width: 100%;
  float: left;
}
.wrapper{
  background-color: #c6c6c6;
  -webkit-box-shadow: 0px 6px 28px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 28px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 28px -5px rgba(0,0,0,0.75);
  width: 961px;
  margin: auto;
  clear: both;
  border-right: 1px solid #5a5a5a;
  border-left: 1px solid #5a5a5a;
}
h1{
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  float: left;
  padding-left: 34px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
h1 span{
  color: #ff0000;
}
a{
  text-decoration: none;
  border-left: 1px solid #5a5a5a;
}
nav ul{
  float:right;
  margin-top: 25px;
}
nav li{
  display: inline;
  margin-top: 24px;
  font-size: 15px;
  text-transform: uppercase;
}
nav a{
  padding: 27px 25px;
  color: #fff;
}
nav a.active, nav a:hover{
  background-color: #000;
}
footer{
  background-color: #000;
  padding: 23px 0 27px 30px;
  font-size: 10px;
  clear: both;
}
footer p:last-child{
  padding-top: 10px;
}
.link{
  text-decoration: none;
  color:#c40000;
}
#hero{
  clear: both;
  background-image: url(/assets/img/hero-bg.jpg);
  height: 486px;
  width: 100%;
  border-bottom: 1px solid #5a5a5a;
  position: relative;
}
.callout{
  height: 169px;
  width: 632px;
  background-color: rgba(0,0,0, 0.9);
  position: absolute;
  margin-top: 61px;
}
.callout h2{
  font-size: 50px;
  padding-top: 31px;
  padding-left: 36px; 
}
.callout h2 span{
  color: #c40000;
  font-size: 100px;
  float: right;
  position: relative;
  bottom: 40px;
  right: 36px;
}
.student-info{
  width: 480px;
  height: 170px;
  background-color: #fff;
  color: #000;
  position: absolute;
  right: 0;
  bottom:0;
}
.student-info img{
  padding: 21px 13px 23px 22px; 
}
.student-info figcaption{
  float: right;
  padding: 31px 85px 42px 0;
}
.student-info figcaption h3{
  font-size: 30px;
  padding-bottom: 10px;
}
.student-info figcaption p{
  color: #444;
  padding-bottom: 22px;
}
.student-info figcaption a{
  text-decoration: none;
  color: #c82727;
}
.column:first-of-type{
  width:50%; 
  float: left;
  background-color: white;
}
.column:last-of-type{
  width: 50%;
  float: right;
  background-color: #3f3f3f;
}
.column-header{
  background: #302f2f;
  background: -moz-linear-gradient(top, #302f2f 0%, #171717 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #302f2f 0%,#171717 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #302f2f 0%,#171717 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302f2f', endColorstr='#171717',GradientType=0 ); /* IE6-9 */
  width: 100%;
  float: left;
}

h4{
  font-size: 25px;
  font-weight: normal;
  color: #fff;
  float: left;
  padding-left: 34px;
  padding-top: 15px;
  padding-bottom: 15px;
}
h4 span{
  font-weight: bold;
  text-transform: uppercase;
}
.column:first-of-type img{
  width: 128px;
  height: 128px;
  border: 1px solid black;
}
.about-thumbnails{
  clear: both;
  padding: 19px 27px;
}
.column:first-of-type img:first-child{
  margin-right: 13px;
}
.column:first-of-type img:last-child{
  margin-left: 13px;
}
.column:first-of-type p{
  padding: 0 42px 27px 32px;
  color: black;
  font-size: 12px;
  line-height: 16px;
}
.column:first-of-type p:last-of-type{
  padding-bottom: 99px;
}
.column:first-of-type p a{
   color: #c40000;
}
.column:last-of-type ul{
  padding-top: 14px;
  margin-left: 23px;
  margin-right: 37px;
}
.column:last-of-type li{
  float: right;
}
.column:last-of-type li blockquote{
  clear: both;
  display: inline;
}
.column:last-of-type li blockquote p:first-child{
  font-size: 16px;
  margin-top: 8px;
}
.column:last-of-type li blockquote p:last-child{
  font-size: 11px;
  padding-top: 4px;
  font-weight: normal;
}
.last-flex{
  padding-bottom: 57px;
}
.column:last-of-type li img{
  width: 81px;
  height: 81px;
  float: left;
  display: inline;
  margin-right: 12px;
  margin-bottom: 9px;
}